In [0]:
import sys
import os
package_path = os.path.abspath("..")  
sys.path.insert(0, package_path)
#The path will be managed by conda or whatever on release, but this is fine for now.

import scMPRAforge as scm

#load the autoreload extension
%load_ext autoreload
#reload code on every execution
#(this may break objects)
#you can remove this & do dev in a notebook, then paste into the module when you are done.
%autoreload 2

scm.helloworld()

hello world!

In [1]:
import pandas as pd

In [6]:
dummy=pd.DataFrame({"bc":["AATC","AATC","ATGC","ATGC","AATG","TTGC"],"other_info":["foo","bar","baz","biff","bom","bim"]})
dummy

     bc other_info
0  AATC        foo
1  AATC        bar
2  ATGC        baz
3  ATGC       biff
4  AATG        bom
5  TTGC        bim

row 4 is a seq error of row 0/1, row 5 is a seq error of row 2/3.

In [7]:
scm.flatten_barcode_errors(dummy,barcode_column="bc")

     bc other_info
0  AATC        foo
1  AATC        bar
2  ATGC        baz
3  ATGC       biff
4  AATC        bom
5  ATGC        bim

perfect