In [8]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.discrete.count_model as cm

In [5]:
fake_cres=pd.read_csv("fake_cres.csv").drop("Unnamed: 0",axis=1)

In [39]:
fake_cres

             CRE Cell_type  replicate_ID  umi_count
0         nobody     brain             1          0
1         nobody     brain             1          0
2         nobody     brain             1          0
3         nobody     brain             1          0
4         nobody     brain             1          0
...          ...       ...           ...        ...
14307  neurogene     blood             3          7
14308  neurogene     blood             3         26
14309  neurogene     blood             3          7
14310  neurogene     blood             3         15
14311  neurogene     blood             3         38

[14312 rows x 4 columns]

In [41]:
print(type(fake_cres["Cell_type"][0]))
print(type(fake_cres["CRE"][0]))

<class 'str'>
<class 'str'>

In [48]:
fake_cres['CRE']=pd.Categorical(fake_cres['CRE'])
fake_cres['Cell_type']=pd.Categorical(fake_cres['Cell_type'])
fake_cres['replicate_ID']=pd.Categorical(fake_cres['replicate_ID'])

In [50]:
zinb_model = smdc.ZeroInflatedNegativeBinomialP.from_formula(
    "umi_count ~ CRE",
    fake_cres,
    exog_infl=fake_cres[["replicate_ID"]],
    p=2
)# type 2 for quadratic mean-var relationship. Not required, since default.

#zinb_model = smdc.ZeroInflatedNegativeBinomialP.from_formula(
#    formula="umi_count ~ CRE*Cell_type",  # Count model (Negative Binomial)
#    data=fake_cres,
#    exog_infl=sm.add_constant(fake_cres[["replicate_ID"]]),  # Zero-inflation model (logistic)
#)

#zinb_model=smdc.ZeroInflatedNegativeBinomialP(
#    fake_cres[["umi_count"]],
#    sm.add_constant(fake_cres[["Cell_type",""]])
#)

zinb_result = zinb_model.fit(method="bfgs",maxiter=200)

Optimization terminated successfully.
         Current function value: 1.748120
         Iterations: 63
         Function evaluations: 65
         Gradient evaluations: 65

https://stats.stackexchange.com/questions/284911/type-i-and-type-ii-negative-binomial-distribution-in-zero-inflated-negative-bino

https://www.statsmodels.org/stable/generated/statsmodels.discrete.count_model.ZeroInflatedNegativeBinomialP.html

https://www.statsmodels.org/dev/generated/statsmodels.discrete.count_model.ZeroInflatedNegativeBinomialP.from_formula.html#statsmodels.discrete.count_model.ZeroInflatedNegativeBinomialP.from_formula

In [12]:
zinb